.main__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 100%;
	padding: 56px 0px;
}

/*---------------------------*/
#form {
    flex: 0;
    width: 350px;
    max-width: 100%;
    padding: 0 15px;
}

/*---------------------------*/
#form .input-group:last-child {
    margin-top: -1px;
}

#form .input-group .input-group-addon {
    color: white;
}

#form .input-group:first-of-type .input-group-addon {
    border-bottom-left-radius: 0;
}

#form .input-group:first-of-type .form-control {
    border-bottom-right-radius: 0;
}

#form .input-group:last-of-type .input-group-addon {
    border-top-left-radius: 0;
}

#form .input-group:last-of-type .form-control {
    border-top-right-radius: 0;
}
