* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
	position: relative;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	color: #333;
}

#messages-wrapper {
	position: fixed;
	right: 10px;
	bottom: 0;
	height: 100%;
	padding: 10px 0;
	pointer-events: none;
	display: flex;
	align-items: flex-end;
}

#messages-container {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100%;
	pointer-events: all;
	flex: 1;
}

.message-wrapper {
	position: relative;
	display: flex;
	float: right;
	clear: right;
}

.message-dismiss {
	display: none;
}

.message-dismiss-button {
	flex: 1;
	align-self: center;
	right: -33px;
	position: relative;
	cursor: pointer;
	line-height: 23px;
	width: 23px;
	flex-basis: 23px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.message-dismiss:checked + .message-dismiss-button {
	display: none;
}

.message-dismiss:checked + .message-dismiss-button + .message {
	display: none;
}

.message {
	border: 1px solid #ccc;
	padding: 10px 10px 10px 43px;
	border-radius: 3px;
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	width: 100%;
	margin: 10px 0;
}

.message-error {
	border-color: red;
	background-color: lightcoral;
	color: darkred;
}

.message-warning {
	border-color: goldenrod;
	background-color: lightyellow;
	color: darkgoldenrod;
}

.message-success {
	border-color: green;
	background-color: lightgreen;
	color: darkgreen;
}

.message-info {
	border-color: blue;
	background-color: lightblue;
	color: darkblue;
}

/*---------------------------*/
.menu {
    width: 200px;
    max-width: 100%;
    color: #fff;
    padding: 0;
    position: fixed;
    top: 56px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: #252830 !important; */
}

.menu--title {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #848B9D;
    text-transform: uppercase;
}

.menu--title .material-icons {
	font-size: 85%;
	vertical-align: top;
}

.menu--group {
	margin: 10px 0;
}

/*---------------------------*/
.main {
	padding-top: 56px;
    margin-left: 200px;
    position: relative;
	min-height: 100%;
    padding-bottom: 56px;
}

.main--content {
	padding-top: 20px;
}

.main--footer {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/*---------------------------*/
.material-icons {
    line-height: 1.1;
}
